@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size:16px;
}

body {
    font-family: 'Open Sans';
    font-size:1em;
}

.section__header {
    background: url(/images/bg-hero-mobile.svg);
    /* height:80vh; */
    /* border: 1px solid blue; */
}

.header-banner {
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header-banner img {
    height:20px;
    margin-left:0.7rem;
}

.header-banner button {
    margin-right:1.1rem;
    padding:0.5rem 1.4rem;
    border-radius: 20px;
    border:none;
    color: var(--very-dark-cyan);
    font-family:inherit;
    font-weight:900;
    background-color:white;
    box-shadow: 1px 2px 5px rgba(0, 37, 46,0.4);
}

.section__header--container {
    /* border: solid 2px red; */
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items:center;
    text-align:center;
    margin-top:5rem;
}

.section__header--container h1 {
    line-height:30px;
    margin:0 3rem;
    margin-bottom: 2rem;
    color: var(--very-dark-cyan);
}

.section__header--container p {
    margin:0 2rem;
    color: var(--very-dark-cyan);
    margin-bottom: 2rem;
}

.section__header--container button {
    margin-bottom: 3rem;
    background-color: var(--pink);
    color:white;
    font-family:inherit;
    padding:0.7rem 3rem;
    border:none;
    border-radius:20px;
    box-shadow: 1px 5px 5px rgba(255,82,191,0.4);
    font-size:0.8em;
}

.section__header--container img {
    width: 80%;
    margin-bottom: 3rem;
}

.section__key-values {
    margin-top:4rem;
}

.key-value {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    /* border:1px solid var(--grayish-blue); */
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    margin: 0 1rem;
    margin-bottom:3rem;
}

.key-value--image {
    width:80%;
    margin-top:3rem;
    margin-bottom:3rem;
    padding-top:1rem;
}

.key-value--title {
    margin-bottom: 1.5rem;
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing:-0.6px;
}

.key-value--text {
    padding-bottom: 2rem;
    color: var(--grayish-blue);
    margin: 0 2rem;
    line-height:1.5rem;
}

.attribution {
    padding-top:6rem;
}